@font-face {
    font-family: "fuente personalizada";
    src: url('fonts/Outfit-SemiBold.woff') format('woff');
}


/*Card style*/
.card {
    background-color: #e5e5e7;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    width: 750px;
    height: 550px;
    margin-bottom: 2px;
}

/*Question cards style*/

.questionCard {
    position: relative;
    background: #fafafa;
    border-radius: 10px;
    margin-top: 10;
    display: block;
    font-size: 1.17em;
    width: 100%;
    box-shadow: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    -webkit-caja-sombra: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    -moz-caja-sombra: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    padding: 10px;


    /*change absolute to relative*/
}

.answer {
    display: grid;
    padding-bottom: 1em;
    row-gap: 6px;
}

.btnB {
    display: inline-block;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #F8C399;
  }

.btnC {
    display: inline-block;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background: #EE6900;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #fafafa;
    
  }


.buttonsDad {
    display: flex;
    justify-content: end;
}