.card{
    height: 650px;
    width: 550px;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    border: 1px solid black;
}

/*Question cards style*/

.QuestionCard{
    position: absolute;
    left: 28.19%;
    right: 26.67%;
    top: 16.29%;
    bottom: 14.48%;

    background: #FFFFFF;
    border-radius: 10px;
}