@font-face {
    font-family: "fuente personalizada";
    src: url('fonts/Outfit-SemiBold.woff') format('woff');
}


/*Card style*/
.card {
    height: 650px;
    width: 550px;
    background-color: #e5e5e7;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    width: 727px;
    height: 400px;
    left: 356px;
    top: 122px;
    margin-bottom: 2px;

}

/*Question cards style*/

.questionCard {
    position: relative;
    background: #fafafa;
    border-radius: 10px;
    margin-top: 10;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1m;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
    box-shadow: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    -webkit-caja-sombra: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    -moz-caja-sombra: 2px 15px 85px -33px rgba(0, 0, 0, 0.37);
    padding: 10px;


    /*change absolute to relative*/
}

.answer {
    display: grid;
    padding-bottom: 1em;
    row-gap: 5px;
}

.btn {
    display: inline-block;
    background: #fafafa;
    color: #231f20;
    border-radius: #E76010;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
   
    
  }


.buttonsDad {
    display: flex;
    justify-content: end;
    align-items: center;

}