* {
  font-family: sans-serif;
}

body{
  background-color: #e5e5e7;
  height: 100%;

}

html{
  height: 100%;
}

@media screen and (max-width: 640px ) {
  body{
    width: 640px;
    align-items: center;
  
  }
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}


#root{
  height: 100%;
  display: flex;
  justify-content: center;
}
